[2012-11-15 02:03] jonbinney opened #1 "package names in groovy-devel branch don't match those in moveit-ros"
For example, in pr2_moveit_apps, move_group.launch tries to launch the move group node with "pkg="move_group"". But that is now part of one big moveit_ros_planning package.

[2012-11-15 17:33] isucan commented on #1
The two packages in moveit_pr2 are defined manually for fuerte. Since we defined those, we have implemented the Setup Assistant, which generates the package we should be using. I plan to release a pre-generated package as part of moveit_pr2, but the packages in there now (pr2_moveit_config &  pr2_moveit_apps) are not going to be in Groovy.

[2012-11-16 00:47] #1 closed, assigned to nobody

[2012-12-11 05:19] davetcoleman opened #2 "roslaunch pr2_moveit_config demo.launch Issues"
When running

as suggested for beginners on the [installation page](http://moveit.ros.org/installation_source.html), the launch file Rviz is not loaded with a config file. This is hard for beginners.

Also, on my system I'm getting the following error output:
https://gist.github.com/4256083

[2013-01-18 00:33] isucan commented on #2
How about we re-add your rviz config file? It seems the format has stablized now. Would you send a version that you like for that file?

[2013-01-18 00:55] aleeper opened #7 "planning_context.launch should not always load robot_description"
planning_context.launch always loads the robot description, which is not necessary on a real robot and increases "launch" time quite a bit.
There should be a launch arg that makes this optional.
move_group.launch will also need that launch arg, since it calls planning_context.launch

Is this a general issue with the setup_assistant?

[2013-01-18 01:31] isucan commented on #7
This is how the setup assistant generates the files yes. I think move_group should not call planning_context.launch and planning_context should have an argument, yes. One for URDF (default off) and one for SRDF (default on)

[2013-01-18 03:19] aleeper commented on #7
Should I make this a ticket against moveit_setup_assistant then? (Do we manually edit any of the files in moveit_pr2, or does everything come from re-running setup_assistant?)

[2013-01-18 03:40] isucan commented on #7
If it is simple, i edit moveit_pr2 files; but we also need to fix the setup assistant. We can leave the bug here for now.

[2013-02-08 18:59] hershwg opened #11 "pr2_controllers_msgs include files still being installed."
I'm getting a conflict when installing debs of 0.3.7.  Even though there have been changes which seem to remove pr2_controllers_msgs from this package, they still seem to be getting installed.

This causes a conflict when you install the real pr2_controllers_msgs package.

[code]

[2013-02-08 19:16] isucan commented on #11
Hey Dave, the pr2_controllers_msgs package should not exist on its own, it think :) it was removed. I'll look into the issue you mentioned.

[2013-02-08 20:47] hershwg commented on #11
Oh, ok.  Well, it used to exist earlier in Groovy.  It does not exist in the latest release, but I wasn't sure if that was because it hadn't built correctly or because it was removed.  The wiki doesn't mention that it was removed.

[2013-02-08 20:48] hershwg commented on #11
I fixed the situation for myself by doing `apt-get remove ros-groovy-pr2-controllers-msgs` and then re-running `apt-get dist-upgrade`, but it wasn't clear initially that that was the proper thing to do, or whether it was expected that I would need to do it.

[2013-03-13 16:21] JeremyZoss opened #13 "Can't use MoveGroup with use_controller_manager=false"
Many robots don't need dynamic ControllerManager functions (dynamic load/unload, multi-controller support, etc.).  But the MoveIt Setup Assistant seems to suggest that a ControllerManager is required.  As a workaround, I am using the pr2_controller_manager with the use_controller_manager flag set to false.  Initially, this worked, but has recently broken.

To reproduce:
- take an existing MoveIt c

[2013-03-13 17:03] isucan commented on #13
I can confirm the issues you mention. I believe they are now fixed (patches in moveit_ros and moveit_pr2). The error reporting was a forgotten status update on trajectory_execution_manager.
The setting of use_controller_manager=false actually works for you, but the controllers are reported as unloaded and inactive. So the trajectory execution attempts to load them, but there is no manager loaded,

[2013-03-13 18:27] JeremyZoss commented on #13
Thanks for the quick response & explanation.  I'll probably wait for the updates to work their way into the official binary release to verify the fix on my side, but I'll mark this closed for now.  I'll re-open if things don't work right in a week or two.

[2013-03-13 18:27] #13 closed, assigned to isucan

[2013-03-26 15:48] JeremyZoss commented on #13
I checked today, and the fixes have been released into the public repository.  I was able to verify that this issue is fixed.  Thanks!

For reference, I'm now using the following versions:
- ros-groovy-moveit-ros-move-group v0.3.25 (20130319-1813)
- ros-groovy-pr2-moveit-plugins v0.3.9 (20130315-2034)

[2013-03-29 20:14] isucan commented on #11
I believe this is now fixed

[2013-03-29 20:14] #11 closed, assigned to nobody

[2013-03-29 20:16] davetcoleman commented on #2
Done

[2013-03-29 20:16] #2 closed, assigned to davetcoleman

[2013-03-29 20:20] davetcoleman commented on #7
I'm not sure when but this has already been solved. In planning_context.launch by default it does not load the robot description:

[code]

[2013-03-29 20:20] #7 closed, assigned to davetcoleman

[2013-05-03 23:09] karyuv opened #17 "Moving the arm along a circular path"
Hi ,
I have been working with the Kinematics part of the pr2 tutorials(ros_api_tutorial).  I am able to move the arm to a desired x,y,z as per the tutorial. I need to set up a constraint where I can move the arm along a circular path. For example If I want it to move from x,y,z to x1,y1,z1 it should be done in a parabolic path than a straight line. Any thoughts?
Thanks,
Karthik

[2013-05-03 23:11] isucan commented on #17
This is a question for the moveit-users mailing list. Please ask there and I will respond.

[2013-05-03 23:11] #17 closed, assigned to nobody

[2013-05-19 06:11] buckybots opened #18 "error in roslaunch pr2_moveit_config demo.launch"
On a freshly built : Groovy on Ubuntu 12.04.2
following the tutorial: Groovy/PR2/Rviz Plugin/Quick Start, after following the steps in:
Groovy/PR2/Setup Assistant/Quick Start.  The : Choose kdl_kinematics_plugin/KDLKinematicsPlugin as the kinematics solver.
step was followed as per the tutorial.
running: roslaunch pr2_moveit_config demo.launch
errors for both the left and right arms : [ERROR] [136

[2013-05-20 20:06] sachinchitta commented on #18
Can you try "roscd pr2_moveit_plugins" and see if it gets to the right place. You don't seem to have moveit_pr2 installed. The pr2_moveit_config package (that we generated) uses the kinematics plugins from pr2_moveit_plugins while the instructions on the wiki use the KDL plugins.

[2013-05-20 21:26] buckybots commented on #18
Thank you!

I am pretty sure the plugins had not been loaded, that is roscd could not
find the package.  I ran :  sudo apt-get install
ros-groovy-pr2-moveit-plugins
This loaded them, I then retried launching with :  roslaunch
pr2_moveit_config demo.launch
and I am now able to try the stuff out in the wiki.

Thanks again!!!

Eric

On Mon, May 20, 2013 at 3:06 PM, sachinchitta notifications@github.c

[2013-05-20 22:15] #18 closed, assigned to nobody

[2013-09-01 15:57] night89 opened #23 "calculate path length"
Hi,
I have a lot of problems trying to do a benchmark for pr2, but I don't think I really need to build a benchmark!
I want to get only the path length, using 5 different algorithms on the same configuration of pr2 but the only way to get it seems to be the .log file resulting from a benchmark.
Do you know if there is a easier way to get it? For example publishing the resulting path length on /ros

[2013-09-03 16:00] night89 opened #24 "Benchmarking pr2"
Hi,
I'm trying to benchmark the pr2 robot with some motion planning algorithms, but i get an error trying to run the db. I typed:

roslaunch pr2_moveit_config default_warehouse_db.launch

but i get the error:

OSError: [Errno 13] Permission denied: '/opt/ros/groovy/share/pr2_moveit_config/default_warehouse_mongo_db'
[mongo_wrapper_ros_ale_N51Vf_10534_1696917966-1] process has died [pid 10552, exit

[2013-09-03 16:11] marioprats commented on #24
Hi, the default_warehouse_db.launch uses a default database in the pr2_moveit_config package path, where a standard user does not have write permissions if it's installed from debians (under /opt). In that case you can specify a custom database path using warehouse.launch directly, e.g:

[code]

Hope that helps

[2013-09-06 09:02] isucan commented on #23
This is a question, please use the mailing list from now on.

There is nothing that publishes patch lengths. However, once you compute a solution, you can compute its length  easily with a for loop calling distance between states()

[2013-09-06 09:02] #23 closed, assigned to nobody

[2013-09-10 23:36] night89 commented on #24
Of course.. that was the problem!
Thank you so much

Ale

[2013-09-10 23:36] #24 closed, assigned to nobody

[2013-09-17 16:03] awesomebytes opened #25 "Multiple robot model spawn and they make the Rviz plugin don't work"
I was following the tutorials on
http://moveit.ros.org/wiki/Installation
and
http://moveit.ros.org/wiki/Quick_Start

and when I got to execute the demo of the planning plugin I didn't get it to work.
First, the .debs seem to be outdated, and compiling from sources I have this problem where the robot model spawns many times but hanging on the floor or flying around. The interactive markers blink an

[2013-09-18 12:54] awesomebytes commented on #25
As I answered in the thread linked before, using groovy MoveIt! (from debs and sources, tested both) this behaviour doesn't appear.
I also noticed that on hydro moveit/src/moveit_core/robot_model/src/robot_model.cpp -> moveit::core::RobotModel::buildModel
is being called, up to 5 times (as I can deduce from the prints of the output in the terminal, which can be found in the post too). I don't know

[2013-09-30 19:52] isucan commented on #25
Given recent changes in Hydro, I would recommend deleting build/ and devel/ in your source checkout, removing all moveit debs, updating all other ROS debs and then recompile everything. There was an ABI change in rviz which could be causing your segfaults.

The debs have been updated, but correct ones are still not in :( 0.5.6 should be out to public soon.
What is left I think is the Quick_Start t

[2013-09-30 19:54] isucan commented on #25
About the multiple robot models thing -- groovy does that too. There just isn't a log message for it. Different components (e.g., plugins) need to load the robot model, but do not know that another component already loaded the model. So you end up loading the model multiple times from components that have a more abstract interface between them. This is normal and expected, it should not cause a pr

[2013-09-30 20:05] awesomebytes commented on #25
Tomorrow I'll redo a setup of MoveIt! on my computer updating everything from hydro I can. Thank you :) (I kept doing wstool update and recompiling to see if I saw any differences in these days, but didn't find a difference).

The interactive markers flickering don't look like a graphic card problem, also I can reproduce the problem in 2 other computers. I even have a video uploaded of what we see

[2013-09-30 20:08] isucan commented on #25
Wow. That robot is really broken apart. Let me know how things work.

[2013-10-01 09:23] awesomebytes commented on #25
Bad news :(
I updated all the packages from hydro from debs, deleted all what I had from MoveIt! before, followed the instructions of http://moveit.ros.org/wiki/Installation to get the source code again, compiled and executed roslaunch pr2_moveit_config demo.launch
And.... same result. There are pr2's flickering on the floor creating new kinds of robotic dances.

[2013-10-02 08:28] awesomebytes commented on #25
Today I noticed a lot of hydro packages got their debs updated again, so I updated, did a wstool update & catkin_make'd MoveIt! again. But... still the same Rviz-Robot-Party :/
Also with the .debs of MoveIt! same result.

[2013-10-09 13:50] awesomebytes commented on #25
I've tried your last updates and it still not fixed BUT I found out two little things. If I run the demo.launch first commenting out the Rviz launching, and then launch Rviz, sometimes Rviz seems to load correctly with the plugin, but when I try to move the arms of the PR2 in the scene it starts dancing crazy again. Also when this happens there is a non stop at high rate message:
[ WARN] [13813165

[2013-10-14 09:05] isucan commented on #25
I just looked at this again today, and indeed I get the same quaternions, But these ones are interpreted differently I believe, as controls. So the fact they are not normalized does not seem to be an issue for me. However, somehow those quaternions are getting somewhere converted to TF... What other plugins are loaded in your rviz?

[2013-10-14 09:55] awesomebytes commented on #25
Only MotionPlanning plugin. Sometimes starts the robot like everything is working but when you move the goal of an arm crazy dance starts (and the wrong quaternion messages start).

[2013-10-14 18:52] jiang0131 opened #26 "parameter names in sensors_kinect.yaml"
The parameter names shape_padding and shape_scale in moveit_pr2 / pr2_moveit_config / config / sensors_kinect.yaml should be changed to  padding_offset and padding_scale after the recent changes in perception/pointcloud_octomap_updater/src/pointcloud_octomap_updater.cpp

[2013-10-14 18:54] #26 closed, assigned to nobody

[2013-10-14 18:54] isucan commented on #26
thank you for pointing this out!

[2013-10-14 19:07] mikeferguson commented on #26
@isucan, is that in debs also now? We should probably drop an email to the user mailing list about this, since it could cause interesting issues if people didn't notice the commit.

[2013-10-14 19:11] isucan commented on #26
good point! thanks! This is in the 0.5.8 debs for moveit_ros_*

On Mon, Oct 14, 2013 at 9:07 PM, Michael Ferguson
notifications@github.comwrote:

[2013-10-20 17:25] davetcoleman commented on #25
We are having this same issue with Baxter with the following PC specs:

[code]

[2013-10-21 13:57] awesomebytes commented on #25
I've created a VirtualBox image with a fresh ubuntu 12.04 with ROS hydro base and MoveIt! from repos that contains the bug, you can download it here (1.9GB): https://www.dropbox.com/s/c1hnqtf6cmzkk99/ubuntu12.04_moveit_hydro_debs_pal_pal.ova

In case you haven't used VirtualBox it's as easy as sudo apt-get install virtualbox
Once open do File > Import and choose that .ova and then start the virtua

[2013-10-21 15:20] isucan commented on #25
@awesomebytes Thank you! This is very useful. Downloading now.

[2013-10-22 20:31] davetcoleman opened #27 "pr2_moveit_tests broken"
When running `catkin_make run_tests` the `pr2_moveit_tests` throw the following errors:

[code]

As uncovered by Travis [here](https://travis-ci.org/davetcoleman/moveit_ros/builds/12891638)

[2013-11-04 14:53] ichumuh commented on #25
I have the same issue. I'm using Hydro and MoveIt on Ubuntu 12.04 LTS. I've tested this on 5 PC's now, but only my Laptop has this problems. I'm using a lenovo ideapad v570. Processor: Intel core i5-2430M CPU, graphics card: NVIDIA GeForce GT 525M, 6GB RAM. Nvidia doesn't officially support these hybrid cards on Linux. Might that be the cause?

[2013-11-04 15:31] awesomebytes commented on #25
Isucan said on the google groups that he is working on it, it affects 32 bit systems as far as we know.

[2013-11-04 20:21] ichumuh commented on #25
My laptop was the only computer with 32 bit Ubuntu. I'll install a 64 bit version and see if this helps, thanks for your reply.

[2013-11-14 09:35] awesomebytes commented on #25
@isucan any news on the status of this subject?
Thank you for your efforts.

[2013-11-26 00:59] #27 closed, assigned to sachinchitta

[2014-07-17 07:31] Wedontplay opened #54 "Wrong launch file name in tutorial "Motion Planners/C++ API""
Hi, looking the pr2 package i believe the correct launch file is  `motion_planning_api_tutorial.launch` instead of  `motion_planning_interface_tutorial.launch` as reported on the tutorial.

link to the tutorial:
http://docs.ros.org/api/pr2_moveit_tutorials/html/planning/src/doc/motion_planning_api_tutorial.html

[2014-07-17 15:52] hersh commented on #54
fixed here: https://github.com/ros-planning/moveit_pr2/commit/d38847c36643c38a164eb143245205c1da02b4f5

[2014-07-17 15:52] #54 closed, assigned to nobody

[2014-12-04 02:08] davetcoleman opened #55 "Release to Indigo"
I'm not sure what is block this from being released, but pr2_moveit_tutorials (where the documentation is generated) is being held back because of it

[2015-01-13 17:30] davetcoleman commented on #55
I believe this can be released now?
https://github.com/PR2/pr2_controllers/issues/373

[2015-01-13 21:11] mikeferguson commented on #55
Yep, I plan to do a round of several releases tonight.

[2015-01-14 20:27] mikeferguson commented on #55
https://github.com/ros/rosdistro/pull/6858

[2015-01-14 20:27] #55 closed, assigned to nobody

[2015-09-24 04:10] rahul003 opened #58 "Adding/Removing Objects, Dual-arm pose goals missing in move_group_interface_tutorial.py"
Tutorials for Adding/Removing Objects, and Dual-arm pose goals are incomplete/missing in moveit_pr2/pr2_moveit_tutorials/planning/scripts/move_group_interface_tutorial.py .

The same tasks are shown in the cpp tutorial

[2016-02-05 17:49] tfoote opened #64 "pr2_moveit_tutorials is missing a dependency on shape_tools"
It's the one regression in indigo at the moment. I suspect it was relying on a transitive dependency which was cleaned up so now it's broken.

This is blocking the build of moveit_pr2 and moveit_full_pr2

http://build.ros.org/view/Ibin_uS64/job/Ibin_uS64__pr2_moveit_tutorials__ubuntu_saucy_amd64__binary/10/console

[code]

[2016-02-05 18:00] IanTheEngineer commented on #64
Thanks for the report, Tully. I actually resolved this the other day:
https://github.com/ros-planning/moveit_pr2/pull/63
and cut a new release this morning:
https://github.com/ros-planning/moveit_pr2/releases/tag/0.6.2
Unfortunately, I seem to be lacking write permissions required to push to ros-gbp org (ros_planning team) for bloom.

[2016-02-05 18:02] IanTheEngineer commented on #64
One thing to note, we seem to have a version mismatch on moveit_commander and moveit_plugins between the most recent releases and those that were merged into rosdistro. @130s noticed this:

https://github.com/ros/rosdistro/pull/10378#issuecomment-177343813
moveit_commander: rosdistro says 0.5.7-1, sand should be 0.6.0-0
https://github.com/ros/rosdistro/pull/10374#issuecomment-177344429
moveit_plug

[2016-02-05 18:06] tfoote commented on #64
@IanTheEngineer I see you on the team now. Can you rerun bloom?

[2016-02-05 18:12] IanTheEngineer commented on #64
I can re-run it tonight on my home workstation. My work machine's environment is non-standard, as you noticed: http://answers.ros.org/question/223663/dependencies-not-satisfied-ros-indigo-gazebo5-msgs/

If anyone else in @ros-planning wants to rebloom those 3 packages in the meantime, I would not object

[2016-02-05 18:56] mikeferguson commented on #64
I can also help out --- after 4pm today

[2016-02-06 03:42] IanTheEngineer commented on #64
Resolved :) https://github.com/ros/rosdistro/pull/10433

[2016-02-06 03:42] #64 closed, assigned to nobody

[2016-06-17 15:06] ilaplace opened #68 "Gripper Issue"
Hi there,
I wasn't able to open the gripper of pr2 with your code. I tried thatstuff but it didn't work either.(i just added the effort) Do you have any idea what should i do to open the gripper with moveit?
Thank you in advance

[code]

[2016-06-19 21:03] v4hn commented on #68
Hey @ilaplace, I'm sorry, but this is way to unspecific to help you.
Could you describe what exactly you are trying to do and provide the full code that fails to work?

[2016-06-20 13:24] ilaplace commented on #68
First of all, thank you for your respond @v4hn ;
I used exactly the same code in the " moveit_pr2/pr2_moveit_tutorials/pick_place/src/pick_place_tutorial.cpp" tutorial. I thought while the robot is moving it supposed be open it's grip. But it doesn't happen, In Rviz it seems to attach with the object without opening  its grip. I tired to add
`g.pre_grasp_posture.points[0].effort[0]=1;``
code but i

[2016-06-24 22:10] 130s opened #71 "Release into Jade"
Required by https://github.com/ros-planning/moveit_metapackages/issues/6

Currently blocked at https://github.com/PR2/pr2_kinematics/issues/6, which is also confirmed as follows:

[code]

[2016-07-08 20:16] LongfeiProjects opened #72 "Rviz cannot display robot properly"
Hello,

I had a problem regarding Rviz when launching most of launch files provided in this package. For example,
[code]

However, on the side of Rviz, the frame "base_footprint" looks like it does not exist:
Global Status/Fixed Frame No tf data.  Actual error: Fixed Frame [base_footprint] does not exist
Except "Add a RobotState display" gives a "dead" PR2 robot, nothing happens in Rviz.

I am run

[2016-07-22 23:12] ngupta1024 commented on #71
is this repo suppose to work with indigo?

[2016-07-22 23:40] 130s commented on #71
Even binary is available for Indigo http://repositories.ros.org/status_page/ros_indigo_default.html?q=moveit_pr2 so yes.

[2016-07-26 13:58] dornhege commented on #68
Did you have a PR2 (or simulated) in the background or just RViz? I believe the problem is that the PR2 gripper joints that actuate the gripper are different from the actuated ones, i.e., you specify a joint that will make the (real) PR2 gripper move (like an internal drive motor), which in turn actuates parts of the hand that are actually visible.
Thus, to only visualize, the posture needs to be

[2016-07-26 17:57] dornhege commented on #72
The robot displays fine for me (even with the error messages) and also TF is working. It seems like something is seriously wrong with the setup. Can you tell, what exactly you did, i.e., which parts you build from source? Best with your rosinstall file.

You can `export KINECT1=true` to get rid of the errors. This is due to the pr2_description being updated to include a Kinect. As this possibly ne

[2016-07-28 10:40] v4hn commented on #68
So the bug is that our fake controllers do not (and in practice _can't_)
support controlling joints, but require all joints set?
That makes sense.

I just added complete open/close states in https://github.com/v4hn/moveit_pr2/tree/pick_place_demo_with_gripper_motion ,
but I still do not see the gripper open/close. @dornhege Could you please have a look at the last commit there?
I don't see another

[2016-07-28 12:00] dornhege commented on #68
I'm not even sure if this is modeled in the URDF, so that we could handle this. It might also be just a joint that the PR2 received and then moves accordingly. On a real robot (or gazebo) this is never a problem. In MoveIt! only, this is. I can try, if your fix works.

However, I am aware of a (I assume) bug in the pick/place pipeline with the PR2, when doing reasoning on the PlanningScene (i.e. n

[2016-07-28 13:30] v4hn commented on #68
No, this is not modeled in the URDF and I believe there's no need for us to have support for that in the fake controllers.
You can always specify the full state if you want to use your code with the fake controllers.

@dornhege: @Jntzko just found a bug in the code I pointed you to and I just added a pull request that fixes this issue.
Please review & merge.

[2016-07-28 14:41] dornhege commented on #68
I agree, we can't know anyways what other joints are activated how.

Looks good to me. I can see the gripper opening now!

[2016-07-29 14:40] #68 closed, assigned to nobody

[2016-08-16 14:16] ghost commented on #72
Hello. I am experiencing the same problem.
Were you able to find the soltuion @LongfeiProjects?
Thank you in advance!

[2016-08-17 13:22] LongfeiProjects commented on #72
@dk683 I found a way to clear the error messages: Link "" is not known to URDF. Cannot disable collisons.

Please check here, and you there's another solution as well. [https://gist.github.com/davetcoleman/4256083](url)

[2016-08-17 13:23] ghost commented on #72
Aha! Thank you for your suggestion!
The link is broken :-( Could you fix the link?

[2016-08-17 13:38] LongfeiProjects commented on #72
@dk683 There seems a problem in directly opening a link from comment. You can copy the link to a new window, then it should be all fine. :-)

[2016-08-17 13:39] ghost commented on #72
I got it! Thank you @LongfeiProjects!

[2016-08-17 13:58] LongfeiProjects commented on #72
@dornhege  Though I say this a bit late, but your comment is really appreciated. If I could have your comment a bit earlier, it will definitely save me much time on probing this issue.

@dk683 I am very happy that this thread helps you as well.

Now the link error message can be considered as "solved", and I would like to close this thread.

The "RichTIFFIPTC" warning is an image related issue, it

[2016-08-17 13:58] #72 closed, assigned to nobody

[2016-08-17 16:25] davetcoleman commented on #72
@dk683 links work fine in comments, you just mixed up your brackets and parenthesis: [fixed url](https://gist.github.com/davetcoleman/4256083)

[2016-11-23 02:06] Shawnnn opened #83 "moveit_setup_assistant cannot load pr2.urdf.xacro"
Here is a detailed information linking to ROS answer.
http://answers.ros.org/question/247687/moveit_setup_assistant-cannot-load-pr2urdfxacro/?answer=247695
Thanks for your help!

[2016-11-23 04:51] davetcoleman commented on #83
This is likely an issue with Rviz, your graphics drivers, and your use of a VM.

[2016-12-22 20:01] zychaoqun opened #84 "move pr2 base with moveit"
Hello ,Is it possible to move the base of Pr2 using moveit? It seems that we can only move the arm using moveit. I would like to test my planning algorithms with mobile ground robot.

[2016-12-24 23:29] davetcoleman commented on #84
You should be able to plan for a "virtual planar joint" that represents the base of the PR2, but only for holonomic systems (no diff drive, etc)

[2016-12-31 13:19] v4hn commented on #84
Closing, because at least for now it is not within the scope of this repository to move the base via moveit.
Overall, this is not a well-tested feature in MoveIt.

If you can implement support for it in moveit_pr2, feel free to add a pull-request.

[2016-12-31 13:19] #84 closed, assigned to nobody

[2017-01-30 22:42] 130s commented on #71
Jade is approaching EOL in a few months. I suggest to drop this package support, and rather want to focus on Kinetic release. Feel free to reopen if there's any objection.

[2017-01-30 22:42] #71 closed, assigned to nobody

[2017-02-06 19:04] iretiayo opened #85 "MoveGroupCommander cannot open PR2 gripper"
Hi,
I cannot get move group to open gripper of pr2 evethough I can successfully move the head torso and other parts of pr2 using the MoveGroupCommander. See the code below with two basic functions: move_head and open_gripper.  This does not work when I try to open the gripper's hand.
Note that the gripper's hand closes when it is opened and I set all the joint values to zero. But I can't get it to

[2017-02-26 15:38] 130s commented on #85
I suggest a technical question like this to be asked on http://answers.ros.org where you can get more exposure to the active developers, with more info for platform, version.

[2017-02-26 15:38] #85 closed, assigned to nobody

[2017-02-26 15:42] 130s commented on #83
Question at the link seems to have been resolved. If there's any suggestion to the software on this repo please provide more info (preferably a pull request).

[2017-02-26 15:42] #83 closed, assigned to nobody

[2017-02-26 15:45] 130s opened #86 "Release into Kinetic?"
We dropped Jade release https://github.com/ros-planning/moveit_pr2/issues/71
`pr2_moveit_config` is depended by https://github.com/ros-planning/moveit_tutorials/issues/65
Is there a plan to make a release into K? If so what has to be done?

I can take care of bloom stuff if desired.

[2017-02-26 16:41] v4hn commented on #86
Yes.

Basically the same as for the jade issue. Just more.
Clearpath currently has their hands on the PR2 repositories but they do not support them officially anymore.
This will take some more time, but I'm confident we will see releases of the required ROS packages in kinetic.
It's on my ToDo list to deal with this.

[2017-02-26 16:48] v4hn commented on #25
This bug report is three years old and I haven't seen such issues in the last two years.
I'll close this.

[2017-02-26 16:48] #25 closed, assigned to nobody

[2017-02-26 19:07] cdrwolfe commented on #64
Anyone know what the actual fix was for this? Seems to be replicated on the turtlebot_arm package as well when building in catkin:
[code]
https://github.com/corb555/turtlebot_arm

[2017-02-26 23:23] 130s commented on #64
@cdrwolfe https://github.com/ros-planning/moveit_pr2/pull/63?

[2017-03-04 10:18] Ayushas2427 commented on #2
@isucan , i am unable to get your solution. I am getting the same error. Could you help me in this regard with a more explanatory answer?

[2017-03-08 11:42] ZdenekM opened #87 "SIGABRT (std::bad_alloc)"
When using pr2_moveit_sensor_manager/Pr2MoveItSensorManager, I'm gettig this:

[code]

Moveit backtrace:

[code]

It does not happen if ```moveit_sensor_manager``` parameter is not set. Maybe important to note - I'm using two sensors to update octomap (PR2´s kinect + one external).

Any idea what might be wrong? Thanks!

[2017-03-08 12:50] v4hn commented on #87
This is weird indeed.

Could you try each sensor separately to see if it works with a single camera?
The alloc failure in the backtrace stems from the generation of cost markers.
This feature is (afaics) only active in debug mode and the string creation isn't memory intense, so I assume it's probably not the same bad_alloc with and without debug:=true.

Do you notice memory leaks in this part at r

[2017-03-08 14:58] ZdenekM commented on #87
Ok, it seems that when I enable only one sensor (Kinect on PR2) it runs fine. I tried only for quite short period of time but without any crash. Do you have any tip how to check for memory leaks?

[2017-03-08 15:06] v4hn commented on #87
The other way around is just as interesting to test, probably even more so.
It could be that the manager doesn't deal with the other update-source correctly. Is that a Kinect too?

On Wed, Mar 08, 2017 at 06:58:50AM -0800, Zdeněk Materna wrote:

How about opening htop on the machine running the move_group and looking at the memory usage? :)
Properly debugging leaks (e.g. with valgrind) can be quit

[2017-03-09 13:54] ZdenekM commented on #87
Well, today I tried for longer period and it occasionally crashes even if there is only one sensor - kinect on PR2. It still crashes on ```getCostMarkers``` but the backtrace looks bit different so I'm posting it just for sure:

[code]

[2017-03-09 14:07] ZdenekM commented on #87
Btw, this part of code https://github.com/ros-planning/moveit_pr2/blob/indigo-devel/pr2_moveit_plugins/pr2_moveit_sensor_manager/src/pr2_moveit_sensor_manager.cpp#L65 looks a bit suspicious to me - how is it supposed to work with multiple sensors?

[2017-03-12 20:33] davetcoleman commented on #2
This was fixed on this line:

https://github.com/ros-planning/moveit_pr2/blob/indigo-devel/pr2_moveit_config/launch/moveit_rviz.launch#L9

[2017-03-24 09:40] v4hn commented on #87
Ok, I finally had a moment to look at this...
Your problem is most likely not at all related to multiple cameras.
The sensor manager concept is a straight forward version of the replanning concept:
If the planned path exceeds a threshold in terms of potential collisions, it might help to point a sensor at the most "risky" location to improve the environment model (mostly by getting an updated octo

[2017-05-20 22:39] SantoshBanisetty opened #88 "pr2_moveit config error"
When I roslaunch pr2_moveit_config move_group.launch, I see the following error:
[code]
I also tried using the moveit setup assistant to generate new pr2.srdf and the issue still persists.
Note: The issue occurs both in simulation and the real robot.

[2017-05-25 02:13] 130s commented on #88
I guess this kind of issue can get more visibility and good answers on http://answers.ros.org/question, so I close here. Please post there (with more info, particularly I insist to include the ENTIRE output of `roslaunch`, not just a part of it. Often something happening in the output can get overlooked).

[2017-05-25 02:13] #88 closed, assigned to nobody

[2017-06-19 21:45] ruinianxu opened #90 "process crashed after using new planner and state space"
I am adding new planner and state space to source ompl and trying to do simulation on pr2 robot. About my modification to moveit and ompl, for ompl, I just directly added header and cpp files of new planner and state space into ompl source code and built it up. For moveit, I changed planning_context_manager.cpp file in ompl to include my planner and state space for pr2. And in planning_request_ada

[2017-06-20 09:46] v4hn commented on #90
This is not related to `moveit_pr2` but either to ompl or to moveit directly.
So sorry, but I'll close this here.

At first glance this looks like you use ROS related constructs that should not be used within the planner anymore. But I'm currently not familiar enough with the planning-internal classes to give proper pointers here.

[2017-06-20 09:46] #90 closed, assigned to nobody

[2017-06-23 20:24] ruinianxu opened #91 "how to know the whole flow of motion planning for pr2 roboot"
I introduced new planner and state space but there is some errors now. After code exit callPlannerInterfaceSolve function in planner_request_adapter file, process just die. I don't know the whole flow of doing motion planning for pr2 robot. Hence, I don't know after code exiting callPlannerInterfaceSolve function, it will come into which file or function. Can anybody tell me the whole flow of doin

[2017-08-07 09:19] kirantokala commented on #58
For me also, Same problem.

Is it possible to provide the Sample code for that.

[2017-08-17 07:24] davetcoleman commented on #58
Are you aware the PR2 tutorials have been moved to https://github.com/ros-planning/moveit_tutorials/?

[2017-08-17 08:24] kirantokala commented on #58
Sorry. I am not aware of this.

But in above link also, I didn't find move_group_interface_tutorial.py file

[2017-08-17 21:47] davetcoleman commented on #58
Try https://github.com/ros-planning/moveit_tutorials/blob/kinetic-devel/doc/pr2_tutorials/planning/scripts/move_group_python_interface_tutorial.py

[2017-08-17 22:04] #58 closed, assigned to nobody

[2017-08-18 08:07] kirantokala commented on #58
Yes. But in that I am unable to find code for this concept

[2017-08-18 08:07] kirantokala commented on #58
## Adding/Removing Objects and Attaching/Detaching Objects

[2017-11-30 21:43] maxgittelman opened #93 "The kinematics plugin (right_arm) failed to load."
Hello,

I am working though the [MoveIt! RViz Plugin Tutorial](http://docs.ros.org/kinetic/api/moveit_tutorials/html/doc/ros_visualization/visualization_tutorial.html) and noticed an error in the launching of the demo file.

When executing: `roslaunch pr2_moveit_config demo.launch`, I noticed the following Error:

![right_arm_kinematics](https://user-images.githubusercontent.com/30596770/33456455-

[2017-12-01 19:29] davetcoleman commented on #93
Is this on Kinetic? The PR2 has poor support on kinetic

[2017-12-01 19:56] maxgittelman commented on #93
Yes, this is on Kinetic

[2018-02-27 22:01] rhaschke commented on #93
Try to use KDL IK plugin instead.

[2018-03-16 08:43] k-okada commented on #86
pr2 on kinetic is now released, so please release mvoeit_pr2 into kinetic.

[2018-03-19 05:37] 130s commented on #86
I don't have an extra gear for this any more. I appreciate if either @v4hn or @k-okada has an access rights and take this over.

[2018-03-19 15:00] v4hn commented on #86
It's on my todo list, but I'm not sure when I will get around to do that either.
Also I just noticed I do not yet have access to ros-gbp/moveit_pr2-release .

[2018-03-19 17:07] bmagyar commented on #86
If I'm given access to the required repos I can also help with releases from time to time.

[2018-03-20 15:24] 130s commented on #86
@mikaelarguedas Sorry to pull you in, but assuming you have admin access can you add write access to @bmagyar @v4hn? Thanks in advance.

Maintainer field in package.xml is outofdate so @bmagyar @v4hn please consider adding yourself/ves there as well.

[2018-03-20 16:21] mikaelarguedas commented on #86
I don't have access to ros-planning ATM, maybe @v4hn or @davetcoleman have enough permissions to grant access to the source repository to the new maintainers? Otherwise I can look into getting the required permissions to add them.

I can give write access to the release repository. My understanding is that @bmagyar and @v4hn  will be added as contributors to the `moveit_pr2-release` repository and

[2018-03-26 00:58] #93 closed, assigned to nobody

[2018-03-26 00:59] davetcoleman commented on #93
I believe @rhaschke provided a good solution to this

[2018-04-06 15:13] 130s commented on #86
@mikaelarguedas I think that's right. Thanks!

[2018-04-06 17:24] bmagyar commented on #86
Let us know once we have the permission and I'll go ahead with running some tests.

[2018-04-06 17:33] mikaelarguedas commented on #86
@bmagyar @v4hn added as collaborators to the https://github.com/ros-gbp/moveit_pr2-release repo

[2018-04-06 23:28] bmagyar commented on #86
I started testing some builds. It seems there are a few changes on rosdep keys, messages and some C++11-related ones. I'll try to get to the end of it tomorrow and push a release to Kinetic.

Any plans for Melodic?

[2018-04-07 05:56] v4hn commented on #86
Please file pull-requests for any change you need to make in this repository before you release.

[2018-04-07 07:47] bmagyar commented on #86
Of course. All will be going against the `kinetic-devel` branch.

[2018-04-07 09:33] bmagyar commented on #86
WIP #96

[2018-04-14 11:21] bmagyar commented on #86
As an extra I also threw in https://github.com/PR2/pr2_common/pull/269, the warnings were annoying :)

[2018-04-14 11:27] bmagyar commented on #91
We are using issues to track software-related issues of the software.
Please raise your question on [ROS answers](https://answers.ros.org/questions/)

[2018-04-14 11:27] #91 closed, assigned to nobody

[2018-07-09 08:51] znstj commented on #25
[rviz-1] process has died [pid 13351, exit code -6, cmd /opt/ros/kinetic/lib/rviz/rviz -d /home/zn/racecar/src/art_racecar/rviz/amcl.rviz __name:=rviz __log:=/home/zn/.ros/log/cd9767a8-8354-11e8-9ec9-c4346b7e2a0c/rviz-1.log].
log file: /home/zn/.ros/log/cd9767a8-8354-11e8-9ec9-c4346b7e2a0c/rviz-1*.log

[2018-07-09 08:52] znstj commented on #25
rviz: /build/ogre-1.9-mqY1wq/ogre-1.9-1.9.0+dfsg1/OgreMain/src/OgreNode.cpp:385: virtual void Ogre::Node::setOrientation(const Ogre::Quaternion&): Assertion `!q.isNaN() && "Invalid orientation supplied as parameter"' failed.
ros kinetic and use rviz_imu_plugin

[2018-07-17 12:02] v4hn commented on #25
@znstj if this is due to the rviz_imu_plugin, this is not related to the `moveit_pr2` repository.
Please file the issue in the rviz repository instead.

[2018-10-23 16:56] 130s opened #99 "ROS Indigo CI failing for years"
See https://github.com/ros-planning/moveit_pr2/pull/98#issuecomment-432323448

[2018-10-24 22:51] 130s opened #100 "Release Indigo version (to pull in moveit_full_pr2 relocation #98)"
#98 moved `moveit_full_pr2` pkg from another repo to this repo. `moveit_pr2` needs to be released in order to reflect that.

- [x] Have https://github.com/ros/rosdistro/pull/19343 merged. Without this merged in, `bloom` fails as following:
[code]
- [x] Run `bloom`. (Artifact is already pushed as above output, so the next time anyone with write access to `moveit_pr2-release` repo can run simply the

[2018-10-25 00:34] 130s commented on #100
Done https://github.com/ros/rosdistro/pull/19346

[2018-10-25 00:34] #100 closed, assigned to 130s

[2019-03-30 18:42] davefeilseifer commented on #86
I've taken over maintainership of the pr2 packages and released almost all pr2 packages in kinetic. It might be worth some effort to try releasing the full suite of packages in kinetic again.

[2019-03-31 13:51] bmagyar commented on #86
This ticket should have been closed after I released it the last time but I can push a new one with the urdf compatibility changes, hold tight!

[2019-03-31 14:42] bmagyar commented on #86
I ran tests locally as the CI seems to be super slow today: https://travis-ci.org/ros-planning/moveit_pr2/jobs/513757640

PR:
https://github.com/ros/rosdistro/pull/20777

If you are happy, feel free to close this issue.

[2019-03-31 18:12] davefeilseifer commented on #86
I didn't open the issue, so I cannot close it

[2019-03-31 19:03] #86 closed, assigned to nobody

[2019-07-04 11:46] rhaschke commented on #87
Closing due to now activity for >2 years.

[2019-07-04 11:46] #87 closed, assigned to nobody

[2019-07-04 16:05] rhaschke opened #104 "Release versions messed up?"
Dear Isaac,
is there a special reason that you released `moveit_pr2` into Indigo as 0.7.15, although the 0.7.x is reserved for Kinetic and the next Indigo release should have been 0.6.7?

![image](https://user-images.githubusercontent.com/5376030/60678905-43188f00-9e86-11e9-8328-4094d4a8f8f4.png)

[2019-07-05 06:51] rhaschke commented on #99
Solved via #105.

[2019-07-05 06:51] #99 closed, assigned to nobody

[2019-07-05 11:43] v4hn commented on #104
Four days before the `0.7.15` release here, moveit in indigo was released as `0.7.14`.
I guess this is where the wrong version number comes from.

To resolve the crossed versions and synchronize this repository with the main moveit versions again, I would propose to jump ahead and update the `kinetic` version to 0.9.x (0?) with the next kinetic release.

Does that sound ok to you @rhaschke ?

[2019-07-05 11:52] rhaschke commented on #104
Yes, that would sync with version numbers of ROS. Fine with me.

[2019-07-06 21:57] 130s commented on #104
TLDR; I admit my mistake. I agree with bumping kinetic to 0.9.x

Although I can't find a PR for the change in question, I see commit message https://github.com/ros-planning/moveit_pr2/commit/c09bca016067da7a0e8eb95ff02b92781848db06 saying:

That's where `moveit_full_pr2` pkg was moved into this repo. That package was in 0.7.x already before merge. I wanted to stick to using release util tools `cat

[2019-07-07 06:47] rhaschke commented on #104
Thanks for the explanation. Let's release as 0.9.x next.

[2019-07-07 06:47] #104 closed, assigned to 130s

[2019-10-01 13:13] k-okada opened #106 "Request for release on melodic"
@rhaschke could you release new version including  https://github.com/ros-planning/moveit_pr2/pull/101 and run `blooms into melodic? Or if you’re busy please consider set this repository as orphaned as other pr2 repository (https://github.com/PR2/pr2_common) so that @v4hn and @k-okada can release this?

[2019-10-01 15:03] rhaschke commented on #106
I am not the main maintainer of this package, but I prepared a release for melodic as requested:
https://github.com/ros/rosdistro/pull/22478

I think @v4hn should be able to release himself.

[2019-10-01 15:09] k-okada commented on #106
Great! Thank you!!!

2019年10月2日(水) 0:04 Robert Haschke <notifications@github.com>:

--
--
◉ Kei Okada

[2019-10-07 14:33] v4hn commented on #106
Thank you for the release Robert.

You are right, I am probably in charge of this package by now, although somewhat against my will.
As we have to use custom versions of these packages for the modified PR2 in our lab, I do not work with this repository at all.

[2019-10-08 06:35] bmagyar commented on #106
Hi guys,

FYI all melodic builds are still failing, how come this wasn't picked up by the pre-release test?
http://build.ros.org/job/Mbin_ubv8_uBv8__pr2_moveit_plugins__ubuntu_bionic_arm64__binary/

If you want to be the maintainer, please replace me in the package.xml but I can also keep releasing `moveit_pr2` although I don't have a robot to test it on.

[2019-10-08 08:23] rhaschke commented on #106
Hi @bmagyar, I have pushed a fix and requested a new release: https://github.com/ros/rosdistro/pull/22585 a few days ago.
However, this release PR is not yet merged. So, the build farm will continue to report errors...
I'm not interested in maintaining this package at all. I was just asked to do a release, which I did as a MoveIt maintainer.

[2019-10-08 12:48] rhaschke commented on #106
Release PR was merged and ros build farm is happy now:
http://build.ros.org/view/Mbin_uB64/job/Mbin_uB64__moveit_pr2__ubuntu_bionic_amd64__binary.

[2019-10-08 12:48] #106 closed, assigned to nobody

[2019-10-14 08:06] brkygokcen commented on #25
@znstj I encountered this problem too. Did you solve this?

[2021-10-09 00:39] kavikode opened #112 "Noetic"
Is there a MoveIt package available for ROS Noetic for the PR2?

Thank you